

/* slider section  */

.slider{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: -110px;
}
.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(85%);
}
.slider .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
    font-family: system-ui, Helvetica, arial, sans-serif;
}


.slider .list .item .content .title,
.slider .list .item .content .type{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.slider .list .item .type{
    color: #23232e;
}

.slider .list .item .content .description{
    width: 400px;
    text-align: justify;
}
.slider .list .item .button{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.slider .list .item .button button{
    border: none;
    background-color: #23232e;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s;
    letter-spacing: 2px;
    color:white;
    border-radius: 20px;
    font-family: system-ui, Helvetica, arial, sans-serif;
}


.slider .list .item .button button:hover{
    letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}





/* Thumbnail Section  */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 1;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
   
}

.thumbnail .item .descriptionitem{
    position: absolute;
    color: #fff;
    bottom: 10px;
    left:10px;
}

/* nextPrevArrows Section  */
.nextPrevArrows{
    position: absolute;
    top: 90%;
    right: 50%;
    z-index: 10;
    width: 300px;
    max-width: 20%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.nextPrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #23232e;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    font-size: 20px;
}
.nextPrevArrows button:hover{
    background-color: #fff;
    color: #23232e;
}

/* Animation Part */
.slider .list .item:nth-child(1){
    z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 1ms linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 1ms !important;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 1ms !important;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 1ms !important;
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1ms !important;
}




/* Animation for next button click */
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .1ms linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail 1ms linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail{
    animation: effectNext 1ms linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 1ms linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 1ms linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1ms linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider{
        margin-top: -110px;
    }
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 50px;
    }

    .slider .list .item .content{
        margin-top: 70px;
        width: 1140px;
        max-width: 80%;
        left: 50%;
        padding-right: 30%;
       
    }
    

    /* Thumbnail Section  */
.thumbnail{
    position: absolute;
    left: 65%;
    width: max-content;
    z-index: 1;
    display: flex;
    gap: 20px;
}
    
/* nextPrevArrows Section  */
.nextPrevArrows{
    position: absolute;
    top: 90%;
    right: 69%;
    z-index: 1;
    width: 300px;
    max-width: 20%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.slider .list .item .content{
    top: 10%;
}

.slider .list .item .content .title{
    font-size: 4em;
    color: #23232e;
}
.slider .list .item .content .type{
    font-size: 2em;
}
.slider .list .item .content .description{
    width: 0px;
    font-size: 0px;
}
}





#contentor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:20px;
    background-color: #1e2329;
 }
 #contentor .title{
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
 }
 
 #contentor .coursell-content-product{
    display: flex;
    align-items: center;
    justify-content: center;

 }
 
 .coursell-produt{
    display: flex;
    max-width: 1100px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    scroll-behavior: smooth;
 }
 
 .coursell-produt .dragging{
    cursor: grab;
    scroll-behavior: auto;
 }
 
 .coursell-produt .dragging .card-product-coursell{
    pointer-events: none;
 }
 
 .coursell-produt .card-product-coursell{
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 20px;
    user-select: none;
    margin-left: 14px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 24%;
 }

 
 .coursell-produt .card-product-coursell:first-child{
    margin-left: 0px;
 }
 
 .card-product-coursell img{
    width: 200px;
 }
 .card-product-coursell img:hover{
    transform: scale(.9);
 }
 
 .card-product-coursell h2{
    padding:.5rem 0;
    font-size: 20px;
    color:#444;
 }
 .card-product-coursell h2:hover{
    color:#f1b545;
 }
 .card-product-coursell span{
    display: block;
    font-size: 20px;
    color:#444;
 }
 
 .card-product-coursell button{
    margin-top: 40px;
    border: none;
 }
 
 .btn-coursell-product{
    position: absolute;
    bottom: -35px;
    left: 41%;
    width: max-content;
 }
 
 .btn-coursell-product span{
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #ebaa32;
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px;
 }
 
 .btn-coursell-product span:hover{
    background-color: #869791;
 }
 
 .btn-coursell-product span.active{
    background-color: #869791;
 }
 
 @media screen and (max-width: 900px) {
    .coursell-produt .card-product-coursell{
        flex-basis: 32%;
    }
    .btn-coursell-product{
        width: 0px;
    }
    .btn-coursell-product span{
        width: 0px;
    }
    
 }
  
 @media screen and (max-width: 550px) {
    .coursell-produt .card-product-coursell{
        flex-basis: 100%;
    }
 }






 